body {
    position: relative;
    padding-bottom: 60px;
}

.nav-link {
    display: inline-block !important;
}
.fixed-top {
    position: sticky;
    margin-bottom: 20px;
}

button[type="submit"] {
    margin: 20px  ;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid #ececec;
    background-color: blue;
}

.tabs .container {
    max-width: 1100px;
    padding: 0;
}
a.tab.is-active, a.tab:hover {
    border-bottom-color: #78ab4e;
}
.tab-icon {
    padding-left: 45px;
}
.tab {
    position: relative;
    height: 66px;
    width: 50%;
    padding: 15px;
    margin-bottom: -3px;
    line-height: 18px;
    font-weight: 700;
    color: #2a2f35;
    margin-left: -1px;
    border-bottom: 3px solid #ececec;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
}

.arrondir {
    border-radius: 20px;
    transition-duration: .2s;
    border: 2px solid #fff;
}
.arrondir:hover {
    transform: scale(1.2);
}
/*.uploadsForm {
    /* outline: 3px dashed black; */
 /*   height: 200px;
    padding: 20px;
}
/* .uploadsForm form {
    width: 100%;
    margin: auto;
    display: inline-block;
    text-align: center;
    padding: 40px;
    border: 2px solid black;
    background-color: #FFF;
}
.form {
    overflow: hidden;

} */
.bin {
    display: inline;
    margin-right: 20px;
}

label[for=form_avatar_img], .avatar_form label, .uploadsForm label {
    display: none;
}
#username {
    font-style: italic;
}
.page {
    margin: auto;
    width: 300px;
}
.preniumList {
    padding-left: 0;
    text-align: center;
}
.btn_prenium {
    width: 100%;
}

.container-body {
    background-image: url("images/background.png");
    border-radius: 10px;
    box-shadow: 0 0 0 200px rgba(255,255,255,0.3) inset;
    z-index: 99;
    padding-top: 0;
}

.footer {
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    border-top: 3px solid #ececec;
    text-align: center;
}


.mt-lg-4 {
    padding-top: 40px;
    padding-bottom: 25px;
}
#progress {
    display: none;
}
.text-center {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
}
#scroll_to_top {
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 20%;
    right: 50px;
    display: none;
    font-size: 3rem;
}
.page-item.active {
    z-index: 0;
}
.js_send {
    width: 180px;
    height: 75px;
}

.pagination nav {
    margin-top: 20px;
}



/** 
RESPONSIVE
 */

@media only screen and (max-width: 767px) {
    #scroll_to_top, .pagination {
        display: none !important;
    }
    .container-body {
        text-align: center;
    }

}