{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
    Page non trouvée
{% endblock %}
{% block body %}
    <h1>Page inexistante</h1>

    <p>
        Cette page n'existe pas. Merci de cliquer ici pour vous rendre sur la page d'accueil :
        <a href="{{path('home')}}">cliquez ici</a>
    </p>
{% endblock %}
