.nav-link {
    display: inline-block !important;
}
.fixed-top {
    position: sticky;
    margin-bottom: 20px;
}

button[type="submit"] {
    margin: 20px  ;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid #ececec;
    background-color: blue;
}

.tabs .container {
    max-width: 1100px;
    padding: 0;
}
a.tab.is-active, a.tab:hover {
    border-bottom-color: #78ab4e;
}
.tab-icon {
    padding-left: 45px;
}
.tab {
    position: relative;
    height: 66px;
    width: 50%;
    padding: 15px;
    margin-bottom: -3px;
    line-height: 18px;
    font-weight: 700;
    color: #2a2f35;
    margin-left: -1px;
    border-bottom: 3px solid #ececec;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
}

.arrondir {
    border-radius: 20px;
    transition-duration: .15s;
    border: 2px solid #fff;
}
.uploadsForm {
    /* outline: 3px dashed black; */
    height: 200px;
    padding: 20px;
}
.uploadsForm form {
    width: 100%;
    margin: auto;
    display: inline-block;
    text-align: center;
    padding: 40px;
    border: 2px solid black;
}
.bin {
    display: inline;
    margin-right: 20px;
}

label[for=form_avatar_img], .avatar_form label, .uploadsForm label {
    display: none;
}
#username {
    font-style: italic;
}
.page {
    margin: auto;
    width: 300px;
}
.preniumList {
    padding-left: 0;
    text-align: center;
}
.btn_prenium {
    width: 100%;
}

.container-body {
    /*background-image: url("images/background.png");*/
    border-radius: 10px;
    box-shadow: 0 0 0 200px rgba(255,255,255,0.3) inset;
    margin-bottom: 60px;
    padding-top: 20px;
    z-index: 99;
}

.footer {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    border-top: 3px solid #ececec;
    text-align: center;
}

.box__success, .box__uploading, .box__error {
    display: none;
}
