{% extends 'base.html.twig' %}
{% block title %}
    Se connecter
{% endblock %}

{% block body %}
    <div class="page-header jumbotron text-center" id="banner" >
        <h1>S'inscrire sur le site</h1>
    </div>
{% endblock %}
